@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    flex: 1;
    padding-left: 110px;
    padding-right: 160px;
    padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 100px;
}

.header-content {
    display: flex;
    margin-bottom: 130px;
    justify-content: space-between;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
}

.some-text {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    gap: 8px;
    width: 450px;
}

.placeholder {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 101, 101);
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

button {
    display: flex;
    border-radius: 8px;
    padding: 6px 30px;
    color: white;
    background-color: #3882f6;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.text2 {
    font-size: 18px;
    font-weight: 100;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 40px;
}

img {
    width: 80px;
    border: 1px solid black;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    color: rgb(110, 107, 107);
}